image:
  repository: just1689/warmimages
  pullPolicy: IfNotPresent
  customRegistry:

serviceAccount:
  annotations: {}

podSecurityContext: {}
  # fsGroup: 2000
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000



controller:
  resources:
    limits:
      cpu: 20m
      memory: 64Mi
    requests:
      cpu: 1m
      memory: 8Mi
agent:
  resources:
    limits:
      cpu: 20m
      memory: 32Mi
    requests:
      cpu: 1m
      memory: 8Mi


nats:
  url: "nats://wi-nats-client:4222"
  username: "nats_client"
  password: "sY6GYz5c9W"

list: "*"
ignore: ""

